<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionaries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/adventourstyle.css" />
    <link rel="stylesheet" href="/css/admin_dashboard.css" />

</head>

<body>
    <nav>
        <div class="nav__logo">Adventour<span>.</span></div>
        <input type="checkbox" name="check" id="check">
        <ul class="nav__links">
            <li class="link"><a href="home">Home</a></li>
            <li class="link"><a href="destination">Destinations</a></li>
            <li class="link"><a href="price">Pricing</a></li>
            <li class="link"><a href="https://bhushan-anil-mah.formaloo.co/vi7had">Reviews</a></li>
        </ul>
        <label for="check"><i class="fa-solid fa-bars"></i></label>
        <!-- <button class="btn"><a href="Contact">Contact Us</button> -->
    </nav>

    <div class="section_for_dash">

        <!-- Destinations -->
        <div class="for_safe">

            <div class="btn_for_table">
                <button class="btn_add">
                    <a href="/admin/add/destinations">Add</a>
                </button>
                <br>
                <h1>Destinations</h1>
            </div>

            <div class="all_table">
                <div class="table_header">
                    <span class="t_cl">Id</span>
                    <span class="t_cl">Name</span>
                    <span class="t_cl">Country</span>
                    <span class="t_cl">Region</span>
                    <span class="t_cl">Description</span>
                    <span class="t_cl btns">
                </div>
                {{#destinations.output}}
                <div class="table_row">
                    <span class="t_cl">{{ Id }}</span>
                    <span class="t_cl">{{ Name }}</span>
                    <span class="t_cl">{{ Country }}</span>
                    <span class="t_cl">{{ Region }}</span>
                    <span class="t_cl">{{ Description }}</span>
                    <span class="t_cl btns">
                        <a href="/api/v1/delete/destinations/?SerialNo={{ Id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                {{/destinations.output}}

            </div>
        </div>

        <!-- Accomodations -->
        <div class="for_safe">

            <div class="btn_for_table">
                <button class="btn_add">
                    <a href="/admin/add/accomodations">Add</a>
                </button>
                <br>
                <h1>Accomodations</h1>
            </div>

            <div class="all_table">
                <div class="table_header">
                    <span class="t_cl">Id</span>
                    <span class="t_cl">Name</span>
                    <span class="t_cl">Destination Id</span>
                    <span class="t_cl">Description</span>
                    <span class="t_cl">Price Per Night</span>
                    <span class="t_cl btns">
                </div>

                {{#accomodations.output}}
                <div class="table_row">
                    <span class="t_cl">{{ Id }}</span>
                    <span class="t_cl">{{ Name }}</span>
                    <span class="t_cl">{{ DestinationId }}</span>
                    <span class="t_cl">{{ Description }}</span>
                    <span class="t_cl">{{ PricePerNight }}</span>
                    <span class="t_cl btns">
                        <a href="/api/v1/delete/accomodations/?SerialNo={{ Id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                {{/accomodations.output}}

            </div>
        </div>

        <!-- Activities -->
        <div class="for_safe">

            <div class="btn_for_table">
                <button class="btn_add">
                    <a href="/admin/add/activities">Add</a>
                </button>
                <br>
                <h1>Activities</h1>
            </div>

            <div class="all_table">
                <div class="table_header">
                    <span class="t_cl">Id</span>
                    <span class="t_cl">Name</span>
                    <span class="t_cl">Destination Id</span>
                    <span class="t_cl">Description</span>
                    <span class="t_cl btns">
                </div>

                {{#activities.output}}
                <div class="table_row">
                    <span class="t_cl">{{ Id }}</span>
                    <span class="t_cl">{{ Name }}</span>
                    <span class="t_cl">{{ DestinationId }}</span>
                    <span class="t_cl">{{ Description }}</span>
                    <span class="t_cl btns">
                        <a href="/api/v1/delete/activities/?SerialNo={{ Id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                {{/activities.output}}

            </div>
        </div>

        <!-- Packages -->
        <div class="for_safe">

            <div class="btn_for_table">
                <button class="btn_add">
                    <a href="/admin/add/packages">Add</a>
                </button>
                <br>
                <h1>Packages</h1>
            </div>

            <section class="all_table">
                <div class="table_header table_header-p">
                    <span class="t_clp">Id</span>
                    <span class="t_clp">Name</span>
                    <span class="t_clp">Guide</span>
                    <span class="t_clp">Type</span>
                    <span class="t_clp">Destination Id</span>
                    <span class="t_clp">Activity Id</span>
                    <span class="t_clp">Accommodation Id</span>
                    <span class="t_cl btns">
                </div>

                {{#packages.output}}
                <div class="table_row table_row-p">
                    <span class="t_clp">{{ Id }}</span>
                    <span class="t_clp">{{ Guide }}</span>
                    <span class="t_clp">{{ Name }}</span>
                    <span class="t_clp">{{ Type }}</span>
                    <span class="t_clp">{{ DestinationId }}</span>
                    <span class="t_clp">{{ ActivityId }}</span>
                    <span class="t_clp">{{ AccommodationId }}</span>
                    <span class="t_cl btns">
                        <a href="/api/v1/delete/packages/?SerialNo={{ Id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                {{/packages.output}}

            </section>

            <section class="all_table">
                <div class="table_header table_header-p">
                    <span class="t_clp">Id</span>
                    <span class="t_clp">Package Validity</span>
                    <span class="t_clp">Start Date</span>
                    <span class="t_clp">End Date</span>
                    <span class="t_clp">Price</span>
                    <span class="t_clp">Status</span>
                    <span class="t_clp">Description</span>
                </div>

                {{#packages.output}}
                <div class="table_row table_row-p">
                    <span class="t_clp">{{ Id }}</span>
                    <span class="t_clp">{{ PackageValidity }}</span>
                    <span class="t_clp">{{ StartDate }}</span>
                    <span class="t_clp">{{ EndDate }}</span>
                    <span class="t_clp">{{ Price }}</span>
                    <span class="t_clp">{{ Status }}</span>
                    <span class="t_clp">{{ Description }}</span>
                </div>
                {{/packages.output}}

            </section>
        </div>

        <!-- Algorithm -->
        <div class="for_safe">

            <div class="btn_for_table">
                <button class="btn_add">
                    <a href="/admin/add/algorithm">Add</a>
                </button>
                <br>
                <h1>Algorithm</h1>
            </div>

            <div class="all_table">
                <div class="table_header">
                    <span class="t_cl">Id</span>
                    <span class="t_cl">Package Id</span>
                    <span class="t_cl">Category</span>
                    <span class="t_cl">Sub-Category</span>
                    <span class="t_cl">Season</span>
                    <span class="t_cl btns">
                </div>

                {{#algorithm.output}}
                <div class="table_row">
                    <span class="t_cl">{{ Id }}</span>
                    <span class="t_cl">{{ PackageId }}</span>
                    <span class="t_cl">{{ Category }}</span>
                    <span class="t_cl">{{ SubCategory }}</span>
                    <span class="t_cl">{{ Season }}</span>
                    <span class="t_cl btns">
                        <a href="/api/v1/delete/algorithm/?SerialNo={{ Id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
                {{/algorithm.output}}

            </div>
        </div>
    </div>

</body>

</html>