<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionaries</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/adventourstyle.css" />
    <link rel="stylesheet" href="/css/suggestion.css" />

</head>

<body>
    <nav>
        <div class="nav__logo">Adventour<span>.</span></div>
        <input type="checkbox" name="check" id="check">
        <ul class="nav__links">
            <li class="link"><a href="home">Home</a></li>
            <li class="link"><a href="destination">Destinations</a></li>
            <li class="link"><a href="price">Pricing</a></li>
            <li class="link"><a href="https://bhushan-anil-mah.formaloo.co/vi7had">Reviews</a></li>
        </ul>
        <label for="check"><i class="fa-solid fa-bars"></i></label>
        <!-- <button class="btn"><a href="Contact">Contact Us</button> -->
    </nav>

    <div class="container_for_cards_1">
        <section class="section_for_cnt_1">
            <form action="/api/v1/suggest" method="post">
                <div class="inner_cnt_1">
                    <div class="inner_cnts_1">
                        <label for="package_id">Type of Journey :-</label>

                        <select class="bund" name="category" required>
                            {{#algorithm.output}}
                            <option value="{{Category}}">{{Category}}</option>
                            {{/algorithm.output}}
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label>How important are the following to you:</label>

                        <select class="bund" required>
                            <option>Saving money</option>
                            <option>Comfort and convenience</option>
                            <option>Experiencing luxury</option>
                            <option>Value for money</option>
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label>What is your preferred travel budget range per day?</label>

                        <select class="bund" required>
                            <option>Economy</option>
                            <option>Moderate</option>
                            <option>Luxury</option>
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label>What type of dining experience do you prefer?</label>

                        <select class="bund" required>
                            <option>Fine dining</option>
                            <option>Casual dining</option>
                            <option>Street food</option>
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label for="package_id">Your Favourite Season :-</label>

                        <select class="bund" name="season" required>
                            {{#algorithm.output}}
                            <option value="{{Season}}">{{Season}}</option>
                            {{/algorithm.output}}
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label>How do you prefer to travel within your destination?</label>

                        <select class="bund" required>
                            <option>Public transportation</option>
                            <option>Rental car</option>
                            <option>Taxi/ride-sharing services</option>
                            <option>Walking/biking</option>
                            
                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label>How long do you plan to stay at your destination?</label>

                        <select class="bund"  required>
                            <option>Short trip (1-3 days)</option>
                            <option>Medium trip (4-7 days)</option>
                            <option>Long trip (8 days or more)</option>

                        </select>
                    </div>

                    <div class="inner_cnts_1">
                        <label for="">Favourite type of Place for Journey :-</label>

                        <select class="bund" name="sub_category" required>
                            {{#algorithm.output}}
                            <option value="{{SubCategory}}">{{SubCategory}}</option>
                            {{/algorithm.output}}
                        </select>
                    </div>



                    <div class="inner_cnts_1">
                        <label>Are you interested in exploring art galleries, museums, or cultural exhibitions during your trip?</label>

                        <select class="bund"  required>
                            <option>Yes, I enjoy immersing myself in art and culture</option>
                            <option>No, I prefer other types of activities</option>

                        </select>
                    </div>

                </div>
                <input type="submit" value="Search" class="btn_for_card">
            </form>
        </section>
    </div>
</body>

</html>
