.container_for_cards_1{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    background-image: url('/images/rocks-8489732_1920.jpg');
    background-repeat: no-repeat;
}

.trip{
    width: 90%;
    height: 80%;
    margin: auto auto;
    background: transparent;
}

img{
    width: 700px;
    height: auto;
}

.inner_cnts_1 > select{
    width: 60%;
    height: 45px;
    font-size: 20px;
    padding: 0px 1rem;
}

.inner_cnts_1 > label{
    font-size: 22px;
    width: 60%;
}

.section_for_cnt_1{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 30px 45px;
    border-radius: 15px;
    align-items: center;
    background-color: #fff;
}

.inner_cnt_1{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap:2rem;
}

.inner_cnts_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.btn_for_card{
    background-color: var(--primary-color);
    border: 0px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

input{
    width: 120px;
    height: 42px;
    font-size: 20px;
    margin: 1.5rem 0px;
}
